{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="mask d-flex align-items-center h-100">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Create card</h2>
                            {% if messages %}
                                <ul class="messagelist">
                                    {% for message in messages %}
                                        <li{% if message.tags %} class="{{ message.tags }} available-stock"
                                                                 style="color:red;"{% endif %} >{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            <form method="post">
                                {% csrf_token %}
                                <div class="form-outline mb-4">
                                    {% for field in form %}
                                        <div class="form-outline mb-4">
                                            {{ field }}
                                            <label for="{{ field.id_for_label }}"
                                                   class="form-label">{{ field.label }}</label>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button type="submit"
                                            class="btn btn-primary btn-block btn-lg">
                                        Create card
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}